{% extends "lizard_ui/lizardbase.html" %}{% load i18n %}

{% block title %}{{ page.name }}{% endblock %}


{% block head-extras %}
<script src="{{ STATIC_URL }}raphaeljs/raphael.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}raphaelgauge/raphael.gauge.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}lizard_kpi/horizontal.js" type="text/javascript" charset="utf-8"></script>
<link type="text/css"
      href="{{ STATIC_URL }}lizard_kpi/lizard_kpi.css"
      rel="stylesheet"
      media="screen, projection" />
{% endblock head-extras %}


{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>{{ page.name }}</h2>
  <p>
    {{ page.description }}
  </p>
</div>
{% endblock %}


{% block content %}
<div id="textual"
     class="kpi_gauges"
     data-gauge-image="{{ STATIC_URL }}lizard_kpi/fuel_gauge_200.png"
     data-arrow-image="{{ STATIC_URL }}lizard_kpi/fuel_gauge_arrow_200.png">
  <h1>{{ page.name }}</h1>
  {% for gauge in gauges %}
  <div class="floating-gauge-box">
    <h2><a href="{{ gauge.url }}">{{ gauge.name }}</a></h2>
    <div class="fuel-gauge"
         data-value="{{ gauge.value }}"></div>
  </div>
  {% endfor %}
</div>
{% endblock %}
